<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CS2102 Starter Guide</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link href="../public/css/cover.css " rel="stylesheet">
		<!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  
  <body class="text-center">
    <!--Start of header bar-->
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Hearthstone Tinder</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/about">About</a>
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link active" id="quit">Quit</a>
          </nav>
        </div>
      </header>
    </div>
    <!--end of header bar-->

    <!--start of body-->
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">CS2102 Starter Guide</h1>
        <p class="lead">Welcome to CS2102 Starter Guide</p><br />
        <p class="lead nav justify-content-center">
          <a href="/about" class="btn btn-lg btn-secondary">About</a>
          <a href="/table" class="btn btn-outline-secondary">Table</a>
        </p>
      </main>
    </div>
    <!--end of body-->

    <!--start of footer-->
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>by: our dear Adi Yoga S. Prabawa
        <p class="lead"><strong>Search</strong></p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Doesn't actually work now" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Search</button>
          </div>
        </div>
      </div>
    </footer>
    <!--end of footer-->
		  
  </body>
</html>