<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CS2102 Starter Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
			<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>

  <body >
   
    <div class="d-flex w-100 h-100 mx-auto flex-column">
    <header class="masthead mb-auto">
    <div class="inner">
      <h3 onclick="window.location.href='/'" class="masthead-brand" data-desc="go homepage">grab express</h3>
      <nav class="nav nav-masthead justify-content-center">
      <a href="/bookmarks" class="nav-link active">Bookmarks</a>
      <a href="/favourite_drivers" class="nav-link active">Favourite drivers</a>
      <a class="nav-link active dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My profile</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/insert">My details</a>
            <a class="dropdown-item" href="">History</a>
          </div>
    </header>

    <main role="main" class="awaitingApproval">
       <div class="input-group title">
        <input type="text" aria-label="First name" class="form-control" placeholder="start location">
        <input type="text" aria-label="Last name" class="form-control" placeholder="end location">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" id="Search">Search</button>
        </div>
      </div>
    </main>

    </div>
  </body>
</html>